html {
    height: 100%;
    font-size: 100%;
    min-width: 750px;
}

.chat-rooms{
  background-color: #abb;
  width: 25%;
  height: 100%;
  bottom: 0;
  left:0;
  top: 0;
  position: absolute;
  padding-left: 2rem;
  padding-top: 2rem;
  min-width: 300px;

}

.main {
  color: #333;
  font-family: arial;
  font-size: 3.5rem;
  font-weight: bolder;
  letter-spacing: -1px;
  display: inline;
}

.rooms {
  color: #666;
  font-family: arial;
  font-size: 2rem;
  padding-top: 20px;
  font-weight: bold;
  /*font-stretch:semi-condensed;*/
}

.modal-width{
  max-width: 300px;
  background-color: blue;
}

.float-right{
  float:right;
  margin: 0 10px
}
