html {
    height: 100%;
    font-size: 100%;
    min-width: 750px;
}

.chat-rooms{
  background-color: #abb;
  width: 25%;
  height: 100%;
  bottom: 0;
  left:0;
  top: 0;
  position: absolute;
  padding-left: 2rem;
  padding-top: 2rem;
  min-width: 200px;

}

.main {
  color: #333;
  font-family: sans-serif;
  font-size: 2.5rem;
  letter-spacing: -2px;

}

.rooms {
  color: #666;
  font-family: sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0;
  padding-top: 15px;
}
