<aside class="side-panel">
  <h1 class="main-logo">Bloc Chat</h1>
  <button type="button" class="new-room-button btn" ng-click="open()">New room</button>
  <div class="rooms-list-container">
    <h1 class="rooms" ng-repeat="room in rooms"
        ng-click="selectRoom(room.$value); getRoomId(room.$id)"
        ng-init="selectRoom(rooms[0].$value); getRoomId(rooms[0].$id)">
        {{ room.$value }}</h1>
  </div>
</aside>
<main class="chat-room">
  <h1 class="room-name-font">{{ activeRoom }}</h1>

  <div class="messages" ng-repeat="message in messages" ng-class-odd="'odd'" ng-class-even="'even'">
    <div class="date-stamp-container" ng-show="date($index, $first)" ng-class-odd="'odd'">
      <h3 class="date-stamp" >{{ message.sentAt | date : 'EEE, MMM d' }}</h3>
    </div>
    <h3 class="username">{{ message.username }}</h3>
    <h3 class="sent-at">{{ message.sentAt | date : 'h:mm a' }}</h3>
    <h3 class="content">{{ message.content }}</h3>
  </div>
  <form class="message-box" ng-submit="send(newMessage)">
    <input type="textarea" class="message-input" ng-model="newMessage" placeholder="Write your message here...">
    <button type="button" class="send-button" ng-click="send(newMessage)">Send</button>
  </form>
</main>
