html {
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-size: 100%;
    min-width: 325px;
    max-width: 1500px;
    min-height: 600px;
}

.side-panel {
  margin: 0 auto;
  background-color: #ccc;
  position: fixed;
  bottom: 0;
  width: 350px;
  height: 100%;
  float: left;
  padding: 5rem 2.5rem;
}

.main-logo {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.9rem;
  font-weight: 600;
  letter-spacing: -1px;
  display: inline-block;
  margin: 0 0 1rem 0;
}

.new-room-button {
  float: right;
  margin: 0;
  width: 100px;
  height: 40px;
  color: #888;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  display: inline-block;
}

.rooms, .rooms:hover {
  color: #888;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  display: block;
  cursor: pointer;
}

.rooms:hover {
  color: #000;
}

.modal-width {
  max-width: 300px;
  background-color: blue;
}


.chat-room {
  width: 100%;
  padding: 1.4rem 0 200px 350px;
  background-color: white;

}

.room-name-font {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 600;
  padding-left: 3%;
  margin-bottom: 4rem;
}

.messages {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  left: 0;
  padding: 1.4rem 3%;
}

.date-stamp-container {
  width: 100%;
  height: 30px;
  background-color: #fff;
  padding: 0 0 0 0;
  margin: 0;
}

.date-stamp {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.username {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  display: inline;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;
}

.sent-at {
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  float: right;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  margin-top: 0;
}

.content {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.2rem;
  margin: 0 100px 0 0;
  padding: 0;
}

.odd {
  background-color: #eee;
}

.even {
  background-color: #fff;
}

.message-input {
  width: 100%;
  padding: 2rem 2%;
  height: 70px;
  position: fixed;
  bottom: 0;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #bbb;
  border-left-style: none;
  background-color: #eee;
}

.send-button {
  width: 110px;
  height: 70px;
  bottom: 0;
  right: 0;
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
  background-color: #444;
  border: 0;
  border-radius: 0;
}


@media screen and (max-width: 750px) {
  .side-panel {
    width: 100%;
    height: auto;
    position: static;
    padding: 2rem 2rem 1rem 2rem;
    top: 0;
    margin-bottom: 4rem;
    align-items: baseline;
  }

  .main-logo {
    margin-bottom: 2rem;
    display: inline-block;
  }

  .rooms, .rooms:hover {
    display: inline-block;
    margin: 1rem 1.5rem 0 1.5rem;
  }

  .chat-room {
    padding: 0 0 200px 0;
    position: static;
  }
  .messages {
    padding: 1.6rem 2rem;
  }
  .room-name-font {
    padding-left: 0;
    margin-top: 0;
    text-align: center;
  }
  .message-input {
    padding: .5rem 2rem;
    height: 50px;
  }
  .send-button {
    width: 75px;
    height: 50px;
  }
  .rooms-list-container{
    text-align: center;
  }
}
