html {
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-size: 100%;
    min-width: 500px;
    max-width: 1500px;
    min-height: 600px;
}

.side-panel {
  margin: 0 auto;
  background-color: #ccc;
  position: fixed;
  bottom: 0;
  width: 350px;
  height: 100%;
  float: left;
  padding: 5rem 2.5rem;
}

.rooms-list-container {
  margin-top: 3.5rem;
  width: 100px;
}

.chat-room {
  width: 100%;
  padding: 1.4rem 0 200px 350px;
  background-color: white;

}

.messages {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  left: 0;
  padding: 1.4rem 4rem;
}

.main {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.9rem;
  font-weight: 600;
  letter-spacing: -1px;
  display: inline;
}

.room-name-font {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 600;
  padding-left: 4rem;
  margin-bottom: 4rem;
}

.username {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: inline;
  line-height: 2.2rem;
}

.content {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0 175px 0 0;
  margin: 0 0 0 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.2rem;
}

.sent-at {
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
  color: #777;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  float: right;
  line-height: 2.2rem;
}


.rooms, .rooms:hover {
  color: #888;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  display: block;
  cursor: pointer;
}

.rooms:hover {
  color: #000;
}

.modal-width {
  max-width: 300px;
  background-color: blue;
}

.new-room-button {
  float: right;
  margin: 0;
  width: 110px;
  height: 40px;
  color: #888;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
}

.odd {
  background-color: #eee;
}

.even {
  background-color: #fff;
}

.message-box {

}

.message-input {
  width: 100%;
  padding: 2rem 4rem;
  height: 70px;
  position: fixed;
  bottom: 0;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #bbb;
  border-left-style: none;
  background-color: #eee;
  margin-top: 4rem;
}

.send-button {
  width: 110px;
  height: 70px;
  bottom: 0;
  right: 0;
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
  background-color: #444;
  border: 0;
  border-radius: 0;
}

@media(max-width: 640px){
  .side-panel {
    width: 100%;
    height: auto;
    position: static;
    padding: 2rem 2rem;
    top: 0;
    margin-bottom: 4rem;
  }
  .chat-room {
    padding: 0 0 200px 0;
    position: static;

  }
  .rooms, .rooms:hover {
    display: inline;
    padding-right: 2rem;
    padding-bottom: 2rem;
    line-height: 3.5rem;
    align-items: center;
  }
  .rooms-list-container {
    width: 100%;
    align-self: center;
  }
  .messages {
    padding: 1.6rem 2rem;
  }
  .room-name-font {
    padding-left: 2rem;
    margin-top: 0;
    /*padding-top: 20px;*/
  }

}
