<!-- <div class="modal-dialog modal-width"> -->
  <!-- <div class="modal-content modal-width"> -->
  <div class="modal-header">
    <h2>Create new room</h2>
  </div>
  <div class="modal-body">
    <label for="enter-room">Enter a room name</label>
    <input type="text" class="form-control" id="enter-room" ng-model="addRoom">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="createRoom()">Create room</button>
  </div>
<!-- </div> -->
<!-- </div> -->
<!-- <div>
  <div class="modal" id="mymodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>A title</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->
